/* donations.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --light-text:#ffffff;
    --text-hover:#0B5ED7;
    --background-color-secondary:#f8f9fa;
    --background-dark: #1a2131;
    --dark-color:#2a2a40;
}
body{
    background-color: var(--background-dark);
}

/*header*/
.header .header-icons i {
  margin-right: 15px;
  color: var(--dark-color);
}
/*navbar*/
.navbar{
    background-color: var(--light-text);
    border-bottom-left-radius:15px !important;
    border-bottom-right-radius:15px !important;
}
.navbar ul li a{
  font-size: 17px !important;
  font-weight: 500 !important;
}
.logo-img {
  width: 80px;
  height: 50px;
}
.navbar ul li a:hover {
  color: var(--text-hover);
  border-bottom: 2px solid var(--text-hover);
  font-weight: 700 !important;
}
.donation-card {
  background:var(--light-text);
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.donation-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h5{
  color: var(--background-dark) !important;
}