*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-hover:#0B5ED7;
    --light-text:#ffffff;
    --background-color-secondary:#f8f9fa;
    --background-dark: #1a2131;
}
body{
    background-color: var(--background-dark);
}
/*header*/
.header .header-icons i {
  margin-right: 15px;
}
.navbar-section .navbar{
    background-color: var(--light-text) !important;
    border-bottom-left-radius:15px !important;
    border-bottom-right-radius:15px !important;
}

.logo-img {
  width: 80px;
  height: 50px;
}
.navbar ul li a:hover {
  color: var(--text-hover);
  border-bottom: 2px solid var(--text-hover);
  font-weight: 700;
}

/*campaigns*/
.campaign:hover{
   transform: translateY(-15px);
}
.campaign img{
    transition: all 1s;
    border-radius:15px !important;
    height: 230px !important;
}
.campaign{
    position: relative;
    background-color: var(--background-color-secondary) !important;
    transition: all 1s;
    height:540px !important;
    text-align: center;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.campaign:hover img{
    filter:grayscale(1.2)
}
.campaign button {
  position: absolute;
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%);
}
/*filter*/
.filter button{
    border: 1px solid var(--gray-text);
    border-radius: 32px;
    padding: 8px 16px;
    margin-left: 8px;
}
.filter button:hover{
    background-color: var(--text-hover);
    color: var(--light-text);
    border: 1px solid var(--text-hover);
}
.filter .active{
    color: var(--light-text);
    border: 1px solid var(--text-hover);
}
.filter .active:hover{
    background-color: transparent !important;
    border:none ;
}

/* media query for header*/
@media(400px <= width <=600px){
    .campaign{
        width: 80%;
        margin: 0 auto;
    }

    .features {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .filter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .filter button {
        margin-left: 0 !important;
        flex: 1 1 calc(50% - 10px);
        min-width: 120px;
        text-align: center;
    }

    #sortByDeadline {
        align-self: center;
        margin-top: 10px;
    }
}

